<mat-drawer-container class="all-container" autosize>

    <mat-card id="card-welcome" class="sidenav-cont-info">

        <img src="/assets/img/pwm_icon_not_found.svg">

    </mat-card>


</mat-drawer-container>