.all-container {
    height: calc(100% - 75px - 62px);
    width: 100%;
    font-family: 'Inter';
    font-weight: 300;
  }

.sidenav-cont-info {
    background: unset;
}

::ng-deep .mat-drawer-content{
    background: linear-gradient(#FFFFFF, #D7D7DB);
}

#card-welcome {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: 100%;
}

::ng-deep .mat-card:not([class*=mat-elevation-z]){
    box-shadow: unset;
}
  
@media only screen and (max-width:991px) {

    #card-welcome {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400.73px;
        height: 100%;
    }

    .all-container {
      height: calc(100% - 75px - 56px);
    }
  
}

