<mat-drawer-container style="height: calc(100% - 75px - 51px);">

    <mat-card id="card-welcome" class="sidenav-cont-info">

        <img src="/assets/img/pwm_icon_not_found.svg">

    </mat-card>


</mat-drawer-container>