/*----------------Responsive----------------*/
@media only screen and (max-width:540px) {

  .sidenav, .sidenav-content {
    display: none !important;
  }

  .mobile-responsive {
    display: block;
  }

}

@media only screen and (max-width:834px) {

  .tableGnrlInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }  

}

/*@media only screen and (max-width:991px) {

  .all-container {
    height: calc(100% - 75px - 51px);
  }

}*/

.mobile-responsive{
  display: none;
}
/*------------------------------------------*/

/*----------------Containers----------------*/
.all-container {
  height: calc(100% - 75px - 51px);
  width: 100%;
  font-family: 'Inter';
  font-weight: 300;
}

.sidenav-content {
  background: linear-gradient(#FFFFFF, #cccccc ); /*(#FFFFFF, #D7D7DB);*/
  color: #333333;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  font-family: 'Inter';
  font-weight: 300;
}

.sidenav-container {
  /*border: 1px solid #555;*/
  width: 20rem;

  background: whitesmoke;
  color: #333333;
  padding: 20px;
  font-family: 'Inter';
  font-weight: 300;
}
/*------------------------------------------*/

/*------------Form (arrow button)-----------*/
.open-sidenav {
  background: whitesmoke !important;
  width: 15px;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.10);
}

.btnOpenPane {
  background: white;
  width: 30px;
  height: 30px;
  top: 3%;
  left: 18%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
/*------------------------------------------*/

/*---------------Report design--------------*/
.reportDesign{
  border: 1px solid #555;
}
/*------------------------------------------*/

/*----------------Welcome card--------------*/
#card-welcome {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 533.73px;
  height: fit-content;
  padding: 30px;
}

#card-welcomePD {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 533.73px;
  height: fit-content;
  padding: 30px;
}

.sidenav-cont-info {
  background: white;
  color: #333333;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 20px;
}

.cancelButton {
  width: 30px;
  border-radius: 0px;
  top: -30.5px; 
  left: 226.5px;
}
/*------------------------------------------*/

/*----------Form (drawer container)---------*/
::ng-deep .mat-drawer-content{
  overflow: unset !important;
  /*margin-left: 0 !important;      <--------------------------------------------*/
}

::ng-deep .mat-drawer-inner-container {
  padding: 10px;
}
/*------------------------------------------*/

/*-------------Form (form-field)------------*/
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px !important;
  background: #DBDBDB !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: #333333 !important;
}

::ng-deep .mat-form-field .mat-focused .mat-form-field-ripple.mat-accent {
  background-color: #333333 !important;
}

::ng-deep .mat-form-field .mat-focused .mat-form-field-ripple {
  background-color: #333333 !important;
}

::ng-deep .mat-form-field-label {    
  /* mat-label normal state style*/
  color: rgba(74,68,67)!important;
  /*color: $mainColor!important;*/
}

::ng-deep .mat-form-field .mat-focused .mat-form-field-label {
  /* mat-label focused style */
  color:rgba(74,68,67)!important;
}

::ng-deep .mat-form-field .mat-form-field-invalid .mat-form-field-label {
  /* mat-label error style */
  color: #CF2A27!important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  font-family: 'Inter';
  font-weight: 300;
}
/*------------------------------------------*/

/*-------------Form (mat-select)------------*/
::ng-deep .mat-select-panel {
  background:whitesmoke !important;
}

::ng-deep .mat-select-value {
  color: #333333!important;
  font-family: 'Inter';
  font-weight: 200;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #333333!important;
  font-family: 'Inter';
  font-weight: 200;
}

::ng-deep .mat-select-arrow {
  color: #333333!important;
}

::ng-deep .mat-option {
  color: #333333!important;
  font-family: 'Inter';
  font-weight: 200;
}
/*------------------------------------------*/

/*-------------Form (mat-radio)-------------*/
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(66, 134, 244) !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(66, 134, 244) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgb(66, 134, 244) !important;
}
/*------------------------------------------*/

/*---------Form (show report button)--------*/
.mat-raised-button {
  background: white;
  color: #333333;
  font-family: 'Inter';
  font-weight: 400;
}

.mat-raised-button.mat-button-disabled {
  background: white;
  color: #333333;
  font-family: 'Inter';
  font-weight: 400;
}
/*------------------------------------------*/

/*--------------Form (general)--------------*/
h4 {
  font-family: 'Inter';
  font-weight: 400;
}

::ng-deep .mat-divider {
  background: #333333 !important;
}

::ng-deep span.mat-content {
  display: unset !important;
}
/*------------------------------------------*/

/*------------------Report------------------*/
#report { 
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  width: 93.2%;
  height: 94%;
  overflow: auto; 
  padding: 20px;
  /*box-shadow: 0px 0px 4px 0.5px rgb(0, 0, 0, .2);*/
}

.cancelWidgtGrButton{
  width: 30px;
  border-radius: 0px;
  top: -20.5px;
  left: 98.5%;
}
/*------------------------------------------*/

/*-----------Report (head buttons)----------*/
.headFoldChld {
  display: flex;
  justify-content: flex-end;
}

.btnheadFoldChld {
  border-bottom:2px solid black;
  border-radius: 0;
  width: 130px;
}
/*------------------------------------------*/

/*----------Report (expansion-panel)--------*/
.contentExPan {
  border-radius: 0px !important;
  box-shadow: unset !important;
  color: #333333;
}

::ng-deep .mat-expansion-panel{
  background: white;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

::ng-deep .mat-expansion-panel-header-title{
  font-family: 'Inter';
  color: #333333 ;
}

::ng-deep .mat-expansion-panel-header{
  height: fit-content ;
}

.customHeaderExPan{
  height: 48px ;
}

::ng-deep .mat-expansion-indicator::after{
  color: #333333;
}

::ng-deep .mat-expansion-panel-content{
  font: unset !important;
}

::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background: none !important;
}

.titleExPan {
  padding-left: 0px !important;
  padding-right:11px !important;
  color: black;
  box-shadow: unset;
}

.titleFormated {
  margin-top: 10px;
  font-size: 25px;

}

/*------------------------------------------*/

/*---------------Report (table)-------------*/
table {
  background: white;
  color: #333333;
  width: 100%;
  /*border-radius: 4px !important;*/
}

.tableGnrlInfo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mat-paginator-container {
  background: white;
  color: #333333;
}

::ng-deep .mat-paginator-outer-container{
  background: white !important;
  color: #333333;
}

::ng-deep .mat-paginator-icon {
  fill: gray !important;
}

::ng-deep .mat-header-row{
  background: whitesmoke;
}

::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border-color: rgba(0, 0, 0, 0.10) !important;
}

::ng-deep .mat-cell {
  color: #333333 ;
}

::ng-deep .mat-header-cell{
  color: #333333;
}
/*------------------------------------------*/

/*--------------Report (image)--------------*/
img {
  width: 300px;
  height: 200px;
}
/*------------------------------------------*/

/*--------------Report (plotly)-------------*/
::ng-deep .js-plotly-plot .plotly .user-select-none{
  margin: 0px auto !important;
}
/*------------------------------------------*/

/*------------Report (infoButton)-----------*/
#infoPButton {
  width: 30px;
  border-radius: 0px;
}
/*------------------------------------------*/

/*------------------General-----------------*/
h1{
  font-family: 'Inter';
  font-weight: 200;
  font-size: 22px;
}

h4{
  font-family: 'Inter';
  font-weight: 200;
  font-size: 18px;
}

button {
  width: 150px;
  font-family: 'Inter' !important;
  color: black;
}
/*------------------------------------------*/

/*-------------------Dialog-----------------*/
::ng-deep .mat-dialog-container{
  background: white;
  color: #333333;
  box-shadow: 0px 0px 4px 0.5px rgb(0, 0, 0, .2);
}

/*CAREFUL WITH THIS DIALOG, THIS CHARACTERISTICS CAN CHANGE OTHER DIALOGS
 *WHEN WE USE DIALOGS WE HAVE TO SEE THE ID IN THE HTML INSPECTOR OF THE NAVIGATOR
 *TO KNOW WHAT SPECIFIC DIALOG SHOULD MODIFY
 */
 ::ng-deep .cdk-global-overlay-wrapper {
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
  top: 165px !important;
  left: 310px !important;
  width: fit-content !important;
  height: 0 !important;
}

/*::ng-deep .mat-elevation-z8{
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.10);
  /*border-radius: 4px !important;
}*/

tbody, td, tfoot, th, thead, tr {
  text-align: center !important;
  font-family: 'Inter' !important;
}
/*------------------------------------------*/

/*-----------------Undefined----------------*/
::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0 !important;
}

.pre-message {
  font-family: 'Inter';
  font-weight: 200;
  font-size: 20px;
}

.sidenav-wel-info {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.btnCancel{
  left:70%;
}
/*------------------------------------------*/

::ng-deep .mat-tab-body-wrapper {    /* <--------------------------------------------*/
  height: 100%;
  width: 100%;
}

::ng-deep .mat-tab-group {      /* <--------------------------------------------*/
  height: calc(100% - 75px - 51px);
  width: 100%;
}

.elContenedor{
  height: 100%;
  width: 100%;
}

::ng-deep .mat-ink-bar{
  background-color: #4B5769 !important;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
  stroke: #4B5769 !important;
}