<div class="mobile-responsive"> Working on this!, currently unavailable sorry :( </div>

<mat-tab-group animationDuration="0ms">

    <mat-tab label="Data overview">

        <mat-drawer-container class="elContenedor">

            <mat-drawer #drawer class="sidenav-container" mode="side">

                <h4><strong>Tools</strong></h4>

                <mat-divider></mat-divider>

                <br>

                <form [formGroup]="getDataForm" (ngSUbmit)="onSubmit(getDataForm.value)">

                    <div>

                        <span>Variables:</span>
                        <br>

                        <div *ngIf="!completed">
                            <mat-spinner [diameter]="50"></mat-spinner>
                        </div>

                        <div *ngIf="completed">
                            <mat-form-field appearance="fill">
                                <mat-label>Select a variable</mat-label>
    
                                <mat-select formControlName="variable" (selectionChange)="select($event.value)">
                                    <mat-option value="project">Project</mat-option>
                                    <mat-option value="operator">Operator</mat-option>
                                    <mat-option value="status">Status</mat-option>
                                </mat-select>
    
                            </mat-form-field>
                        </div>

                        <br>

                        <div style="display: inline-block; left: 2%;" *ngIf="isVariableVisible == 1">

                            <span>Project:</span>
                            <br>

                            <div *ngIf="!completed">
                                <mat-spinner [diameter]="50"></mat-spinner>
                            </div>

                            <div *ngIf="completed">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select a project</mat-label>
    
                                    <mat-select formControlName="project">
                                        <mat-option *ngFor="let option of optionsP" [value]="option.prj_name">{{
                                            option?.prj_name }}</mat-option>
                                    </mat-select>
    
                                </mat-form-field>
                            </div>


                        </div>

                        <div style="display: inline-block; left: 2%;" *ngIf="isVariableVisible == 2">
                            <span>Operator:</span>
                            <br>

                            <div *ngIf="!completed">
                                <mat-spinner [diameter]="50"></mat-spinner>
                            </div>

                            <div *ngIf="completed">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select an operator </mat-label>
    
                                    <mat-select formControlName="operator">
                                        <mat-option *ngFor="let option of optionsO" [value]="option.Operator">{{
                                            option?.Operator }}</mat-option>
                                    </mat-select>
    
                                </mat-form-field>
                            </div>

                        </div>

                        <div style="display: inline-block; left: 2%;" *ngIf="isVariableVisible == 3">
                            <span>Status:</span>
                            <br>

                            <div *ngIf="!completed">
                                <mat-spinner [diameter]="50"></mat-spinner>
                            </div>

                            <div *ngIf="completed">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select a status</mat-label>
    
                                    <mat-select formControlName="status">
                                        <mat-option *ngFor="let option of optionsS" [value]="option.Status">{{
                                            option?.Status }}</mat-option>
                                    </mat-select>
    
                                </mat-form-field>
                            </div>

                        </div>

                    </div>

                    <mat-divider></mat-divider>
                    <br>

                    <div>

                        <!--<p>Note: Monthly is disabled because there is no data in the current year.</p>-->

                        <span>Period</span>
                        <br>

                        <mat-radio-group aria-label="example-radio-group-label">
                            <div class="form-group">
                                <mat-radio-button value="1" [checked]="true" (change)="onItemChange(1)">Yearly
                                </mat-radio-button>
                                <br>
                                <!--<mat-radio-button value="2" [checked]="false" [disabled]="true"
                                    (change)="onItemChange(2)">Monthly
                                </mat-radio-button>-->
                            </div>
                        </mat-radio-group>

                        <br>

                        <div style="display: inline-block; left: 2%;" *ngIf="isPeriodVisible == 1">

                            <mat-label>Year</mat-label>
                            <br>

                            <div *ngIf="!completed">
                                <mat-spinner [diameter]="50"></mat-spinner>
                            </div>

                            <div *ngIf="completed">
                                <mat-form-field appearance="fill">
    
                                    <mat-label>Select an option</mat-label>
    
                                    <mat-select formControlName="year">
                                        <mat-option *ngFor="let option of years" [value]="option.value">{{ option?.year }}
                                        </mat-option>
                                    </mat-select>
    
                                </mat-form-field>
                            </div>

                        </div>

                        <div style="display: inline-block; left: 2%;" *ngIf="isPeriodVisible == 2">

                            <mat-label>From</mat-label>
                            <br>


                            <mat-form-field appearance="fill">

                                <mat-label>Select an option</mat-label>

                                <mat-select formControlName="d_start">

                                    <mat-option *ngFor="let option of months" [value]="option.value + '01'">{{
                                        option?.month }}</mat-option>

                                </mat-select>

                            </mat-form-field>
                            <br>

                            <mat-label>To</mat-label>
                            <br>


                            <mat-form-field appearance="fill">

                                <mat-label>Select an option</mat-label>

                                <mat-select formControlName="d_end">

                                    <mat-option *ngFor="let option of months" [value]="option.value + 31">{{
                                        option?.month }}</mat-option>

                                </mat-select>

                            </mat-form-field>

                        </div>

                    </div>

                    <mat-divider></mat-divider>
                    <br>

                    <button type="button" mat-raised-button (click)='onSubmit(getDataForm.value)'
                        [disabled]="isDisabled">Show report</button>

                </form>

            </mat-drawer>

            <div class="sidenav-content">

                <div class="open-sidenav">
                    <button class="btnOpenPane" mat-icon-button (click)="drawer.toggle()">
                        <div style="margin-top: 9.9%;">
                            <mat-icon *ngIf="!drawer.opened">arrow_right</mat-icon>
                            <mat-icon *ngIf="drawer.opened">arrow_left</mat-icon>
                        </div>
                    </button>
                </div>

                <mat-card id="card-welcome" *ngIf="isvisibleWelMCard" class="sidenav-cont-info">

                    <div #divRem>
                        Welcome to Data Mining!

                        <button class="cancelButton" mat-icon-button (click)="closeWelcomM()">
                            <mat-icon>cancel</mat-icon>
                        </button>

                        <br>
                        <strong>Data overview</strong> is the space where you can see the
                        <br>
                        general status of your projects.

                        <br><br>

                        <ol>
                            <li>Open the panel and select a project</li>
                            <li>Define the period of time</li>
                            <li>Visualize your general report!</li>
                        </ol>

                        <br> Developed by PolyWorks Mexico
                    </div>

                </mat-card>

                <mat-card id="report" *ngIf="isvisibleMCard" class="sidenav-cont-info">

                    <div class="center">

                        <button class="cancelWidgtGrButton" mat-icon-button (click)="closeReportWdgt()">
                            <mat-icon>cancel</mat-icon>
                        </button>

                    </div>

                    <div class="container" *ngIf="completed2">
                        <div class="headFoldChld">
                            <button mat-button class="btnheadFoldChld" (click)="savePDF()">Download PDF</button>
                            <div>
                                &nbsp;
                            </div>
                            <button mat-button class="btnheadFoldChld" (click)="copyToClipboardDO()">Share link</button>
                        </div>
                    </div>

                    <br><br>

                    <div class="col-12 d-flex justify-content-center" *ngIf="!completed2">
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>

                    <div *ngIf="completed2">

                        <div class="container">
    
                            <div #imprimeDO class="container">
    
                                <div class="row">
    
                                    <div class="reportDesign col-4 d-flex justify-content-center align-items-center">
    
                                        <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">
    
                                    </div>
    
                                    <div class="reportDesign col-8">
    
                                        <br>
                                        <h1><strong>{{staticName}}</strong></h1>
                                        <br>
                                        <p><strong>Date: </strong>{{currentDate}}</p>
    
                                    </div>
    
                                </div>
    
                                <div class="row reportDesign">
    
                                    <div class="col-12">
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                    </div>
    
                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                        <img src="assets/img/{{staticImage}}.png" style="width: 25rem; height: auto;">
                                    </div>
    
                                    <div class="col-12">
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                        <br><br>
                                    </div>
    
                                </div>


                                <div class="row">

                                    <div class="reportDesign col-12">
    
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-center align-items-center">
                                                    <h1><strong>Production record</strong></h1>
                                                </div>
                                            </div>

                                            <div class="row">
                                                
                                                <div class="col-1"></div>
        
                                                <div class="col-5 d-flex justify-content-start">
                                                    
                                                    <p>
                                                        <strong>Variables:</strong> {{dataOverview?.variables | number}}
                                                        <br>
                                                        <strong>Observations:</strong> {{dataOverview?.observations | number}}
                                                        <br>
                                                        <strong>Data missing:</strong> {{dataOverview?.missing | number}}
                                                    </p>
        
                                                </div>
        
                                                <div class="col-5 d-flex justify-content-end">
        
                                                    <p style="padding-left: 15px;">
                                                        <strong>Percentage missing:</strong> {{dataOverview?.percntMissing |number}}%
                                                        <br>
                                                        <strong>Initial date:</strong> {{startProjectDate }}
                                                        <br>
                                                        <strong>End date:</strong> {{endProjectDate }}
                                                    </p>
        
                                                </div>   
        
                                                <div class="col-1"></div>

                                            </div>
    
                                        </div>
    
                                    </div>
    
                                </div>
    
                            </div>
    
                            <br><br>
    
                            <div #imprimirCOD>

                                <div class="container reportDesign">

                                    <div class="row">

                                        <div class="reportDesign col-4 d-flex justify-content-center align-items-center">
        
                                            <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">
        
                                        </div>
        
                                        <div class="reportDesign col-8">

                                            <br>
                                            <h1><strong>{{staticName}}</strong></h1>
                                            <br>
                                            <p><strong>Date: </strong>{{currentDate}}</p>
        
                                        </div>
        
                                    </div>
                                    
                                    <div>

                                        <br>
        
                                        <h1 class="titleFormated" style="margin: 10px;"><strong> Analysis by pieces</strong>
                                        </h1>
        
                                        <div class="row">
        
                                            <div class="col-6">
                                                <mat-card class="sidenav-cont-info">
                                                    <plotly-plot [data]="graphPie1.data" [layout]="graphPie1.layout"
                                                        [config]="graphPie1.config" [useResizeHandler]="true"></plotly-plot>
                                                </mat-card>
                                            </div>
        
                                            <div class="col-6">
                                                <mat-card class="sidenav-cont-info">
                                                    <plotly-plot [data]="graphPie2.data" [layout]="graphPie2.layout"
                                                        [config]="graphPie2.config" [useResizeHandler]="true"></plotly-plot>
                                                </mat-card>
                                            </div>
        
                                        </div>
        
                                        <br>
        
                                        <div class="row">
        
                                            <div class="col-12">
                                                <mat-card class="sidenav-cont-info">
                                                    <plotly-plot [data]="graph.data" [layout]="graph.layout"
                                                        [config]="graph.config" [useResizeHandler]="true"></plotly-plot>
                                                </mat-card>
                                            </div>
        
                                        </div>
        
                                        <br>
        
                                        <div class="row">
        
                                            <div class="col-6">
                                                <mat-card class="sidenav-cont-info">
                                                    <form [formGroup]="getDataFormColumn1"
                                                        (ngSUbmit)="onChangeColumn1(getDataFormColumn1.value)">

                                                        <div style="display: inline-block; left: 2%;">
                                                        
                                                            <mat-form-field appearance="fill">
            
                                                                <mat-label>Select an option</mat-label>
            
                                                                <mat-select formControlName="column1"
                                                                    (selectionChange)="onChangeColumn1(getDataFormColumn1.value)">
                                                                    <mat-option *ngFor="let column of columns"
                                                                        [value]="column.value">{{ column?.column }}</mat-option>
                                                                </mat-select>
            
                                                            </mat-form-field>

                                                            <button id="infoPButton" mat-icon-button (click)="openColumnDialog()" style="top: -9px;">
                                                                <mat-icon>info</mat-icon>
                                                            </button>
                                                        
                                                        </div>
        
                                                    </form>
        
                                                    <plotly-plot [data]="graphHistogramG1.data"
                                                        [layout]="graphHistogramG1.layout" [config]="graphHistogramG1.config" [useResizeHandler]="true">
                                                    </plotly-plot>
                                                </mat-card>
                                            </div>
        
                                            <div class="col-6">
                                                <mat-card class="sidenav-cont-info">
        
                                                    <form [formGroup]="getDataFormColumn2"
                                                        (ngSUbmit)="onChangeColumn2(getDataFormColumn2.value)">

                                                        <div style="display: inline-block; left: 2%;">
                                                        
                                                            <mat-form-field appearance="fill">
            
                                                                <mat-label>Select an option</mat-label>
            
                                                                <mat-select formControlName="column2"
                                                                    (selectionChange)="onChangeColumn2(getDataFormColumn2.value)">
                                                                    <mat-option *ngFor="let column of columns"
                                                                        [value]="column.value">{{ column?.column }}</mat-option>
                                                                </mat-select>
            
                                                            </mat-form-field>

                                                            <button id="infoPButton" mat-icon-button (click)="openColumnDialog()" style="top: -9px;">
                                                                <mat-icon>info</mat-icon>
                                                            </button>
                                                        </div>

                                                    </form>
        
                                                    <plotly-plot [data]="graphHistogramG2.data"
                                                        [layout]="graphHistogramG2.layout" [config]="graphHistogramG2.config" [useResizeHandler]="true">
                                                    </plotly-plot>
                                                </mat-card>
                                            </div>
        
                                        </div>
        
                                        <br>

                                    </div>

                                </div>

                            </div>

                            <br><br>

                            <div #imprimirCOT>

                                <div class="container">

                                    <div class="row">

                                        <div class="reportDesign col-4 d-flex justify-content-center align-items-center">
        
                                            <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">
        
                                        </div>
        
                                        <div class="reportDesign col-8">

                                            <br>
                                            <h1><strong>{{staticName}}</strong></h1>
                                            <br>
                                            <p><strong>Date: </strong>{{currentDate}}</p>
        
                                        </div>
        
                                    </div>

                                    <div class="row">
        
                                        <div class="col-12 reportDesign">
                                            <mat-card class="sidenav-cont-info">
    
                                                <plotly-plot [data]="graph3.data" [layout]="graph3.layout"
                                                    [config]="graph3.config" [useResizeHandler]="true"></plotly-plot>
    
                                                <br><br>
    
                                                <mat-accordion>
    
                                                    <mat-expansion-panel class="contentExPan" [expanded]="false">
    
                                                        <mat-expansion-panel-header>
    
                                                            <h4>Sample data</h4>
    
                                                        </mat-expansion-panel-header>
    
                                                        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">

                                                            <div *ngIf="isVariableVisible == 2">
                                                                <ng-container matColumnDef="prj_name">
                                                                    <th mat-header-cell *matHeaderCellDef>Project</th>
                                                                    <td mat-cell *matCellDef="let element">
                                                                        {{element.prj_name}}</td>
                                                                </ng-container>
                                                            </div>

                                                            <div *ngIf="isVariableVisible == 3">
                                                                <ng-container matColumnDef="prj_name">
                                                                    <th mat-header-cell *matHeaderCellDef>Project</th>
                                                                    <td mat-cell *matCellDef="let element">
                                                                        {{element.prj_name}}</td>
                                                                </ng-container>
                                                            </div>
    
                                                            <ng-container matColumnDef="CreationDate">
                                                                <th mat-header-cell *matHeaderCellDef>Creation date</th>
                                                                <td mat-cell *matCellDef="let element">
                                                                    {{element.CreationDate}}</td>
                                                            </ng-container>

                                                            <div *ngIf="isVariableVisible == 1">
                                                                <ng-container matColumnDef="Status">
                                                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                                                    <td mat-cell *matCellDef="let element">{{element.Status}}
                                                                    </td>
                                                                </ng-container>
                                                            </div>

                                                            <div *ngIf="isVariableVisible == 2">
                                                                <ng-container matColumnDef="Status">
                                                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                                                    <td mat-cell *matCellDef="let element">{{element.Status}}
                                                                    </td>
                                                                </ng-container>
                                                            </div>

                                                            <div *ngIf="isVariableVisible == 1">
                                                                <ng-container matColumnDef="Operator">
                                                                    <th mat-header-cell *matHeaderCellDef>Operator</th>
                                                                    <td mat-cell *matCellDef="let element">{{element.Operator}}
                                                                    </td>
                                                                </ng-container>
                                                            </div>

                                                            <div *ngIf="isVariableVisible == 3">
                                                                <ng-container matColumnDef="Operator">
                                                                    <th mat-header-cell *matHeaderCellDef>Operator</th>
                                                                    <td mat-cell *matCellDef="let element">{{element.Operator}}
                                                                    </td>
                                                                </ng-container>
                                                            </div>
    
                                                            <ng-container matColumnDef="controlNb">
                                                                <th mat-header-cell *matHeaderCellDef>Number of controls</th>
                                                                <td mat-cell *matCellDef="let element">{{element.controlNb}}
                                                                </td>
                                                            </ng-container>
                                                            
                                                            <ng-container matColumnDef="perfectControls">
                                                                <th mat-header-cell *matHeaderCellDef>Perfect controls</th>
                                                                <td mat-cell *matCellDef="let element">{{element.perfectControls}}
                                                                </td>
                                                            </ng-container>
                                                            
                                                            <ng-container matColumnDef="failedNb">
                                                                <th mat-header-cell *matHeaderCellDef>Failed controls</th>
                                                                <td mat-cell *matCellDef="let element">{{element.failedNb}}
                                                                </td>
                                                            </ng-container>
    
                                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                                            </tr>
                                                        </table>
    
                                                    </mat-expansion-panel>
    
                                                </mat-accordion>
    
                                            </mat-card>
                                        </div>
    
                                    </div>

                                </div>

                            </div>
    
                        </div>

                    </div>

                </mat-card>

            </div>

        </mat-drawer-container>

    </mat-tab>

  <mat-tab label="Pattern discovery">

    <mat-drawer-container class="elContenedor">

      <mat-drawer #drawerPD class="sidenav-container" mode="side">
        <h4><strong>Tools</strong></h4>

        <mat-divider></mat-divider>

        <form [formGroup]="getDataFormPD" (ngSUbmit)="onSubmitPD(getDataFormPD.value)">

          <div>

            <br>
            <span>Project:</span>
            <br>
            <div *ngIf="pdCompleted == false">
              <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div *ngIf="pdCompleted">
              <mat-form-field appearance="fill">
                <mat-label>Select a project</mat-label>
                <mat-select formControlName="project" (selectionChange)="selectPD($event.value)">
                  <mat-option *ngFor="let optionpr of optionsPr" [value]="optionpr.projects">{{
                    optionpr?.projects
                    }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div>
            <span>Discover:</span>
            <br>
            <div *ngIf="pdCompleted == false">
              <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div *ngIf="pdCompleted">
              <div style="display: inline-block; left: 2%;">
                <mat-form-field appearance="fill">
                  <mat-label>Select a model</mat-label>
                  <mat-select formControlName="models" (selectionChange)="selectMDPD($event.value)">
                    <mat-option *ngFor="let option of optionsMd" [value]="option.models">{{
                      option?.models }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button id="infoPButton" mat-icon-button (click)="openModelDialog()" style="top: -9px;">
                  <mat-icon>info</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>
          <br>
          <button type="button" mat-raised-button (click)='onSubmitPD(getDataFormPD.value)'
            [disabled]="isDisabledPD">Show
            report</button>

        </form>

      </mat-drawer>

      <div class="sidenav-content">

        <div class="open-sidenav">
          <button id="openPanePD" class="btnOpenPane" mat-icon-button (click)="drawerPD.toggle()"
            (click)="isOpndTools()">
            <div style="margin-top: 9.9%;">
              <mat-icon *ngIf="!drawerPD.opened">arrow_right</mat-icon>
              <mat-icon *ngIf="drawerPD.opened">arrow_left</mat-icon>
            </div>
          </button>
        </div>

        <mat-card id="card-welcomePD" *ngIf="isvisibleWelMCardPD" class="sidenav-cont-info">

          <div #divRemPD>
            <!--<mat-spinner [diameter]="25"></mat-spinner>-->
            Welcome to Data Mining!
            <button class="cancelButton" mat-icon-button (click)="closeWelcomMPD()">
              <mat-icon>cancel</mat-icon>
            </button>
            <br> <strong>Pattern discovery</strong> is the space where you can see
            <br> the behaviour of your projects. <br><br>
            <ol>
              <li>Open the panel and select a project</li>
              <li>Select a model that will help you to <br> understanding what is happening
              </li>
              <li>Visualize your general report!</li>
            </ol>
            <br> Developed by PolyWorks M&eacute;xico
          </div>

        </mat-card>

        <mat-card id="report" *ngIf="isvisibleMCardPD" class="sidenav-cont-info">

          <div class="center">

            <button class="cancelWidgtGrButton" mat-icon-button (click)="closeReportWdgtPD()">
              <mat-icon>cancel</mat-icon>
            </button>

          </div>

          <div class="container">
            <div *ngIf="pdRPCompleted" class="headFoldChld">
              <button mat-button class="btnheadFoldChld" (click)="pdsavePDF()">Download PDF</button>
              <div>
                &nbsp;
              </div>
              <button mat-button class="btnheadFoldChld" (click)="copyToClipboard()">Share link</button>
            </div>
          </div>

          <br><br>

          <div class="col-12 d-flex justify-content-center" *ngIf="pdRPCompleted == false">
            <mat-spinner [diameter]="50"></mat-spinner>
          </div>

          <div *ngIf="pdRPCompleted">
            <div #pageOne>

              <div class="container">

                <div class="row">

                  <div class="reportDesign col-4 d-flex justify-content-center align-items-center">

                    <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">

                  </div>

                  <div class="reportDesign col-8">

                    <br>
                    <h1><strong>{{prTitle}}</strong></h1>
                    <br>
                    <p><strong>Date: </strong>{{currentDate}}</p>

                  </div>

                </div>

                <div class="row reportDesign">


                  <div class="col-12">
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                  </div>

                  <div class="col-12 d-flex justify-content-center align-items-center">
                    <img src="{{imagePath}}.png" style="width: 35rem; height: auto;">
                  </div>

                  <div class="col-12">
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                  </div>

                </div>

                <div class="row">

                  <div class="reportDesign col-12">

                    <div class="row">

                      <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <h1><strong>Production record</strong></h1>
                      </div>

                      <div class="col-1"></div>

                      <div class="col-5 d-flex justify-content-start">

                        <div>
                          <p style="padding-left: 15px;"><strong>Variables:</strong>
                            {{infoProjectPD?.variables | number}} </p>
                          <p style="padding-left: 15px;"><strong>Observations:</strong>
                            {{infoProjectPD?.observations | number}} </p>
                        </div>

                      </div>

                      <div class="col-5 d-flex justify-content-end">

                        <div>
                          <p style="padding-left: 15px;"><strong>Initial date:</strong>
                            {{infoProjectPD?.d_min | date}} </p>
                          <p style="padding-left: 15px;"><strong>End date:</strong>
                            {{infoProjectPD?.d_max | date}} </p>
                        </div>

                      </div>

                      <div class="col-1"></div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <br>
            <br>

            <!--plot clustering stuff-->
            <div *ngIf="edited2">

              <div #pageTwo>

                <div class="container">

                  <div class="row">

                    <div class="reportDesign col-4 d-flex justify-content-center align-items-center">

                      <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">

                    </div>

                    <div class="reportDesign col-8">

                      <br>
                      <h1><strong>{{prTitle}}</strong></h1>
                      <br>
                      <p><strong>Date: </strong>{{currentDate}}</p>

                    </div>

                  </div>

                  <div class="row reportDesign">

                    <br>

                    <h1 class="titleFormated"><strong>Analysis</strong></h1>

                    <br>

                    <plotly-plot divId="graficaImprimir" [data]="graphScatter.data" [layout]="scatterlayout"
                      [useResizeHandler]="true"></plotly-plot>

                    <br>
                    <br>

                    <div *ngIf="hasTable">

                      <h1 class="titleFormated"><strong>Outlier(s)</strong></h1>

                      <!--table information-->
                      <table>

                        <tr>
                          <td style="text-align: left !important;">Project name</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][0] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">Creation date</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][1] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">Status</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][2] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">Operator</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][4] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">MeasuredNb</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][5] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">FailedNb</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][6] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">NbMQSFailed</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][7] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">NbMQSPass</td>
                          <td>:</td>
                          <td style="text-align: left !important;" >{{ clusterData?.value_outlier[0][8] }}</td>
                        </tr>

                        <tr>
                          <td style="text-align: left !important;">Unit</td>
                          <td>:</td>
                          <td style="text-align: left !important;">{{ clusterData?.value_outlier[0][9] }}</td>
                        </tr>

                      </table>

                      <br>
                      <br>

                    </div>

                    <h1 class="titleFormated"><strong>Conclusion</strong></h1>

                    <br>

                    {{ clusterData?.conclusion }}

                    <br>
                    <br>

                  </div>

                </div>

              </div>

              <br>
              <br>

              <div #pageThre>



              </div>

            </div>

            <!--plot Time Series stuff-->
            <div *ngIf="edited">

              <div #pageTwo>

                <div class="container">

                  <div class="row">

                    <div class="reportDesign col-4 d-flex justify-content-center align-items-center">

                      <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">

                    </div>

                    <div class="reportDesign col-8">

                      <br>
                      <h1><strong>{{prTitle}}</strong></h1>
                      <br>
                      <p><strong>Date: </strong>{{currentDate}}</p>

                    </div>

                  </div>

                  <div class="row reportDesign">
                    <br>

                    <h1 class="titleFormated"><strong>Analysis</strong></h1>

                    <br>

                    <plotly-plot [data]="gphLinearTrd.data" [layout]="gphLinearTrd.layout" [useResizeHandler]="true">
                    </plotly-plot>

                    <plotly-plot [data]="gphLinearSer.data" [layout]="gphLinearSer.layout" [useResizeHandler]="true">
                    </plotly-plot>

                    <plotly-plot [data]="gphLinearSea.data" [layout]="gphLinearSea.layout" [useResizeHandler]="true">
                    </plotly-plot>

                    <div class="col-3">
                      <br>
                      <br>
                    </div>

                  </div>

                </div>

              </div>

              <br>
              <br>

              <div #pageThre>

                <div class="container">

                  <div class="row">

                    <div class="reportDesign col-4 d-flex justify-content-center align-items-center">

                      <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">

                    </div>

                    <div class="reportDesign col-8">

                      <br>
                      <h1><strong>{{prTitle}}</strong></h1>
                      <br>
                      <p><strong>Date: </strong>{{currentDate}}</p>

                    </div>

                  </div>

                  <div class="row reportDesign">
                    <h1 class="titleFormated"><strong>Observations</strong></h1>

                    <br>

                    {{ timeSeries?.nl_conclusion }}

                    <div class="col-3">
                      <br>
                      <br>
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!--plot associaton rules stuff-->
            <div *ngIf="edited3" class="center">

              <div #pageTwo>

                <div class="container">

                  <div class="row">

                    <div class="reportDesign col-4 d-flex justify-content-center align-items-center">

                      <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">

                    </div>

                    <div class="reportDesign col-8">

                      <br>
                      <h1><strong>{{prTitle}}</strong></h1>
                      <br>
                      <p><strong>Date: </strong>{{currentDate}}</p>

                    </div>

                  </div>

                  <div class="row reportDesign">

                    <br>

                    <h1 class="titleFormated"><strong>Analysis</strong></h1>

                    <br>

                    <plotly-plot divId="heatmapGraph" [data]="graphHeatmap.data" [layout]="graphHeatmap.layout"
                      [useResizeHandler]="true"></plotly-plot>

                    <br>
                    <br>

                    <h1 class="titleFormated"><strong>Detailed information</strong></h1>

                    <!--table information-->
                    <table mat-table [dataSource]="dataSource">

                      <!-- Antecedents Column-->
                      <ng-container matColumnDef="Antecedents">
                        <th mat-header-cell *matHeaderCellDef> Antecedents </th>
                        <td mat-cell *matCellDef="let element"> {{element?.antecedents}} </td>
                      </ng-container>

                      <!-- Consequents Column-->
                      <ng-container matColumnDef="Consequents">
                        <th mat-header-cell *matHeaderCellDef> Consequents </th>
                        <td mat-cell *matCellDef="let element"> {{element?.consequents}} </td>
                      </ng-container>

                      <!-- Confidence Column-->
                      <ng-container matColumnDef="Confidence">
                        <th mat-header-cell *matHeaderCellDef> Confidence </th>
                        <td mat-cell *matCellDef="let element"> {{element?.confidence}} </td>
                      </ng-container>

                      <!-- Support Column-->
                      <ng-container matColumnDef="Support">
                        <th mat-header-cell *matHeaderCellDef> Support </th>
                        <td mat-cell *matCellDef="let element"> {{element?.support}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumsPD"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumsPD;"></tr>
                    </table>

                    <br>
                    <br>

                    <h1 class="titleFormated"><strong>Observations</strong></h1>

                    <div *ngFor="let naturalTex of infoProjectPD?.natural_rules">
                      <div>
                        {{naturalTex}}
                      </div>
                      <br>
                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div *ngIf="edited4" class="center">

              <div #pageTwo>

                <div class="container">

                  <div class="row">

                    <div class="reportDesign col-4 d-flex justify-content-center align-items-center">

                      <img src="assets/img/LogoReport.png" style=" width: 200px; height: auto;">

                    </div>

                    <div class="reportDesign col-8">

                      <br>
                      <h1><strong>{{prTitle}}</strong></h1>
                      <br>
                      <p><strong>Date: </strong>{{currentDate}}</p>

                    </div>

                  </div>

                  <div class="row reportDesign">

                    <br>

                    <h1 class="titleFormated"><strong>Decision rules</strong></h1>

                    <div class="col-12 d-flex justify-content-center align-items-center">

                      <img src="assets/img/decisionrules.png" style="width: 940px; height: 400px;">

                    </div>

                    <h1 class="titleFormated"><strong>Observations</strong></h1>

                    <div>
                      The following controls are importants at the process of piece approving:
                    </div>

                    <br>
                    <br>

                    <div *ngFor="let naturalTexDR of infoProjectPD?.feature_importance">
                      <div>
                        {{naturalTexDR}}
                      </div>
                      <br>
                    </div>

                  </div>

                </div>

              </div>

              <br>
              <br>

              <div #pageThre>
                &nbsp;
              </div>

            </div>
          </div>

        </mat-card>

      </div>

    </mat-drawer-container>

  </mat-tab>

</mat-tab-group>