/*-------------------Dialog-----------------*/
::ng-deep .mat-dialog-container{
    background: white;
    color: #333333;
    box-shadow: 0px 0px 4px 0.5px rgb(0, 0, 0, .2);
  }
  
  /*CAREFUL WITH THIS DIALOG, THIS CHARACTERISTICS CAN CHANGE OTHER DIALOGS
   *WHEN WE USE DIALOGS WE HAVE TO SEE THE ID IN THE HTML INSPECTOR OF THE NAVIGATOR
   *TO KNOW WHAT SPECIFIC DIALOG SHOULD MODIFY
   */
   ::ng-deep .cdk-global-overlay-wrapper {
    top: 0px !important;
    left: 40% !important;
  }