/*-------------------Dialog-----------------*/
::ng-deep .mat-dialog-container{
    background: white;
    color: #333333;
    box-shadow: 0px 0px 4px 0.5px rgb(0, 0, 0, .2);
}

::ng-deep .cdk-global-overlay-wrapper {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 20px;
    top: 20rem !important;
    left: 20rem !important;
    width: fit-content !important;
    height: 0 !important;
}

tbody, td, tfoot, th, thead, tr {
    text-align: center !important;
    font-family: 'Inter' !important;
}