<h1><strong>Information about options</strong></h1>
<div>
    <ul>
        <li>% Perfect controls: Percentage of controls in the part that had deviation 0.</li>
        <li>% Passed controls +: Percentage of controls that passed and were biased to the positive.</li>
        <li>% Passed controls -: Percentage of controls that passed and were biased to the negative.</li>
        <li>% Failed controls +: Percentage of controls that did not pass (went beyond tolerance) to positive.</li>
        <li>% Failed controls -: Percentage of controls that did not pass (passed tolerance) to negative.</li>
        <li>Average deviation: Average percentage of absolute deviation of all controls in the part.</li>
        <li>Maximum deviation +: Maximum positive deviation registered in some control of the part.</li>
        <li>Maximum deviation -: Maximum negative deviation registered in some control of the part.</li>
        <li>Passed controls: Number of passed controls of the part.</li>
        <li>Failed controls: Number of failed controls of the part.</li>
        <li>Day: Day of the week that the piece was registered.</li>
        <li>Hour: Time of day the part was registered.</li>
    </ul>
</div>