<h1><strong>Information about the discovery methods</strong></h1>
<div>

    <div *ngIf="data.smodel == 'Anomalies'">
        <strong>Anomalies helps to: </strong>
        <ol>
            <li>Discover similarities between observations on your production record</li>
            <li>Determine new categories</li>
            <li>Provide new perspectives for further analysis</li>
        </ol>
    </div>

    <div *ngIf="data.smodel == 'Trends'">
        <strong>Trends helps to: </strong>
        <ol>
            <li>Understand how time affects the observation of an event</li>
            <li>Build new hypotheses</li>
            <li>Discover trends, seasons on your production record</li>
            <li>Analysis of casualities between different events</li>
            <li>Predict future observations</li>
        </ol>
    </div>

    <div *ngIf="data.smodel == 'Frecuent patterns'">
        <strong>Frecuent patterns helps to: </strong>
        <ol>
            <li>Efficiently find the sets of frequent events</li>
            <li>Sort the frequent events by highest confidence</li>
            <li>Get a list of association rules that describe <br> the most common patterns in the project</li>
        </ol>
    </div>

    <div *ngIf="data.smodel == 'Decision rules'">
        <strong>Decision rules helps to: </strong>
        <ol>
            <li>Classify pieces by approval status</li>
            <li>Discover or summarize the business rule to <br> determine the status of a piece</li>
            <li>Get a list of the most influential controls in the <br> decision to approve or reject a piece</li>
        </ol>
    </div>

    <div *ngIf="data.smodel == 'Outliers'">
        <strong>Outliers helps to: </strong>
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>

</div>