<footer class="absolute-bottom text-lg-start text-white">
    <div class="container-fluid pt-4 pb-3">
        <div class="row align-items-center">
          <div class="col-3 d-flex justify-content-start">&copy; 2021</div>
          <div class="col-6 d-flex justify-content-center"><img src="assets/img/Logo.png" alt="" class="img-fluid" style="width: 175px; height: 35px;"></div>
          <div class="col-3 d-flex justify-content-end"></div>
        </div>
      </div>
</footer>