<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4B5769;">
    <div class="container-fluid">
      
      <a  href="/dashboard">
        <img src="assets/img/pwm.svg" style=" width: 160px; height: auto;">
      </a>
      
      <!--
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="btn-sm btn-outline-secondary nav-item" (click)="clickEvent1()" [ngClass]="status ? 'btn' : ''"><a class="nav-link text-center text-white" routerLink="dataoverview">Data overview</a></li>
              <li class="btn-sm btn-outline-secondary nav-item" (click)="clickEvent2()" [ngClass]="status2 ? 'btn' : ''"><a class="nav-link text-center text-white" routerLink="patterndiscovery">Pattern discovery</a></li>
            </ul>
      </div>
      -->
    
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="absolute-bottom text-lg-start text-white" style="background-color: rgba(0, 0, 0);">
    <div class="container-fluid pt-4 pb-3">
        <div class="row align-items-center">
          <div class="col-3 d-flex justify-content-start">&copy; 2021</div>
          <div class="col-6 d-flex justify-content-center"><img src="assets/img/Logo.png" alt="" class="img-fluid" style="width: 175px; height: 35px;"></div>
          <div class="col-3 d-flex justify-content-end"></div>
        </div>
      </div>
</footer>