/* Nav bar*/
img {
    width: 160px;
}

::ng-deep body{
    overflow: hidden;
    height: 100%;
}

.container-fluid {
  padding-right: var(--bs-gutter-x,1.25rem);
}

li {
    border-radius: unset;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: whitesmoke;
}

/*Footer*/
footer {
    background-color: rgba(0, 0, 0);
}