{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-md-6">
    <!-- inform -->
    <div id="info"></div>
    
    <script type="text/javascript">
        
        var tmpdata = {{formatedDataOne|safe}}
    
        console.log(tmpdata)

        document.getElementById("info").innerHTML += 
            "<h3>Polyworks|DM</h3>" + 
            "<h5>Project: XXXXXXX</h5>" + 
            "<h5>Project date: XX/XX/XXXX</h5>"  +
            "<h5>Variable: Engine Cylinders</h5>"  +
            "<h5>Data count: " + tmpdata.count + "</h5>" +
            "<h5>% Missing: " + tmpdata["% missing"] + "</h5>" +
            "<h5>% uniques: " + tmpdata["% uniques"]+ "</h5>" +
            "<h5>25%: " + tmpdata["25%"] + "</h5>" +
            "<h5>50%: " + tmpdata["50%"] + "</h5>" +
            "<h5>75%: " + tmpdata["75%"] + "</h5>" +
            "<h5>max: " + tmpdata.max + "</h5>" +
            "<h5>mean: " + tmpdata.mean + "</h5>" +
            "<h5>min: " + tmpdata.min + "</h5>" +
            "<h5>missing: " + tmpdata.missing + "</h5>" +
            "<h5>std: " + tmpdata.std + "</h5>" +
            "<h5>uniques: " + tmpdata.uniques + "</h5>" +
            "<h3>Histogram</h3>";
        
        </script>
    
</div>

<div class="col-md-6">
        
        <!-- histogram -->
        <div id="graph"></div>
        <script type="text/javascript">
        
        var tmpdata = {{formatedDataOne|safe}}
    
        
    
        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 30, bottom: 30, left: 60},
            width = 460 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;
    
        // append the svg object to the body of the page
        var svg = d3.select("#graph")
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform","translate(" + margin.left + "," + margin.top + ")");
    
        // create a new array that follows the format
        var data = tmpdata.values.map(function(d) {
            //console.log("d0", d)
            return {
            values: parseFloat(d)
            };
        });
    
        console.log(data)
    
        //Add X axis
        var x = d3.scaleLinear()
                .domain([0,16])
                .range([0,width])
                svg.append("g")
                .attr("transform", "translate(0," + height +")")
                .call(d3.axisBottom(x))
                svg.append("text")
                    .attr("class", "xlabel")
                    .attr("text-anchor", "middle")
                    .attr("x", width / 2)
                    .attr("y", height + 30)
                    .text("Engine Cylinders");
    
        //Set the parameters for the histogram
        var histogram = d3.histogram()
                        .value(function(d){return  d.values;})
                        .domain(x.domain())
                        .thresholds(x.ticks(15)) //Number of bins
    
        //Applying this function to data to get the bins
        var bins = histogram(data)
        console.log("bins", bins)
    
        //Y axis: scale and draw: 
        var y = d3.scaleLinear()
                .range([height,0]);
                y.domain([0, d3.max(bins, function(d){ /*console.log(d.length);*/ return d.length; })]);
                svg.append("g")
                    .call(d3.axisLeft(y));
                svg.append("text")
                    .attr("class", "ylabel")
                    .attr("y", 0 - margin.left) // x and y switched due to rotation
                    .attr("x", 0 - (height / 2))
                    .attr("dy", "1em")
                    .attr("transform", "rotate(-90)")
                    .style("text-anchor", "middle")
                    .text("# of counts");
        
        //append the bar rectangles to the svg element
        svg.selectAll("rect")
            .data(bins)
            .enter()
            .append("rect")
                .attr("x", 1)
                .attr("transform", function(d) { /*console.log("d.values.length", ["values"].length);*/ return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
                .attr("width", function(d) { return x(d.x1) - x(d.x0) -1 ; })
                .attr("height", function(d) { return height - y(d.length); })
                .style("fill", "#69b3a2") 
        
        </script>
</div>

<br><br>

<div class="col-md-6">
    
    <h3>Assosiation Rules</h3>
    <h4>Project: XXXXXXX</h4>
    
</div>

<script type="text/javascript">

    var tmpdata = {{formatedData|safe}}

    console.log("datos",tmpdata)

    console.log("antecedents",tmpdata["consequent support"][0])

            dataA = [tmpdata.antecedents[0], tmpdata.consequents[0], tmpdata["antecedent support"][0],
            tmpdata["consequent support"][0],tmpdata.support[0],tmpdata.confidence[0], tmpdata.lift[0],
            tmpdata.leverage[0], tmpdata.conviction[0]]

            console.log("dataA",dataA)

            var dataAS = [tmpdata.antecedents[1], tmpdata.consequents[1], tmpdata["antecedent support"][1],
            tmpdata["consequent support"][1],tmpdata.support[1],tmpdata.confidence[1], tmpdata.lift[1],
            tmpdata.leverage[1], tmpdata.conviction[1]]

            console.log("dataAS",dataAS)

            var dataC = [tmpdata.antecedents[2], tmpdata.consequents[2], tmpdata["antecedent support"][2],
            tmpdata["consequent support"][2],tmpdata.support[2],tmpdata.confidence[2], tmpdata.lift[2],
            tmpdata.leverage[2], tmpdata.conviction[2]]

            console.log("dataC",dataC)

            var dataCO = [tmpdata.antecedents[3], tmpdata.consequents[3], tmpdata["antecedent support"][3],
            tmpdata["consequent support"][3],tmpdata.support[3],tmpdata.confidence[3], tmpdata.lift[3],
            tmpdata.leverage[3], tmpdata.conviction[3]]

            console.log(dataCO)

            var dataCON = [tmpdata.antecedents[4], tmpdata.consequents[4], tmpdata["antecedent support"][4],
            tmpdata["consequent support"][4],tmpdata.support[4],tmpdata.confidence[4], tmpdata.lift[4],
            tmpdata.leverage[4], tmpdata.conviction[4]]

            console.log(dataCON)

            var dataCOV = [tmpdata.antecedents[5], tmpdata.consequents[5], tmpdata["antecedent support"][5],
            tmpdata["consequent support"][5],tmpdata.support[5],tmpdata.confidence[5], tmpdata.lift[5],
            tmpdata.leverage[5], tmpdata.conviction[5]]

            console.log(dataCOV)

            var dataL = [tmpdata.antecedents[6], tmpdata.consequents[6], tmpdata["antecedent support"][6],
            tmpdata["consequent support"][6],tmpdata.support[6],tmpdata.confidence[6], tmpdata.lift[6],
            tmpdata.leverage[6], tmpdata.conviction[6]]

            console.log(dataL)

            var dataLI = [tmpdata.antecedents[7], tmpdata.consequents[7], tmpdata["antecedent support"][7],
            tmpdata["consequent support"][7],tmpdata.support[7],tmpdata.confidence[7], tmpdata.lift[7],
            tmpdata.leverage[7], tmpdata.conviction[7]]

            console.log(dataLI)

            var dataSU = [tmpdata.antecedents[8], tmpdata.consequents[8], tmpdata["antecedent support"][8],
            tmpdata["consequent support"][8],tmpdata.support[8],tmpdata.confidence[8], tmpdata.lift[8],
            tmpdata.leverage[8], tmpdata.conviction[8]]

            console.log(dataSU)
            

            
    var dataAA = dataA.map(function(k) { 
        return {
            key: dataA[0],
            consequents: dataA[1],
            antecedentSupport: dataA[2],
            consequentSupport: dataA[3],
            support: dataA[4],
            confidence: dataA[5],
            lift: dataA[6],
            leverage: dataA[7],
            conviction: dataA[8],
        } 
    })

    console.log("dataaa",dataAA[0])

        var dataCOO = dataCO.map(function(k) { 
        return {
            key: dataA[0],
            consequents: dataA[1],
            antecedentSupport: dataA[2],
            consequentSupport: dataA[3],
            support: dataA[4],
            confidence: dataA[5],
            lift: dataA[6],
            leverage: dataA[7],
            conviction: dataA[8],
        } 
    })

    var dataASS = dataAS.map(function(k) { 
        return {
            key: dataAS[0],
            consequents: dataAS[1],
            antecedentSupport: dataAS[2],
            consequentSupport: dataAS[3],
            support: dataAS[4],
            confidence: dataAS[5],
            lift: dataAS[6],
            leverage: dataAS[7],
            conviction: dataAS[8],
        } 
    })

    var dataCONN = dataCON.map(function(k) { 
        return {
            key: dataCON[0],
            consequents: dataCON[1],
            antecedentSupport: dataCON[2],
            consequentSupport: dataCON[3],
            support: dataCON[4],
            confidence: dataCON[5],
            lift: dataCON[6],
            leverage: dataCON[7],
            conviction: dataCON[8],
        } 
    })

    var dataSUU = dataSU.map(function(k) { 
        return {
            key: dataSU[0],
            consequents: dataSU[1],
            antecedentSupport: dataSU[2],
            consequentSupport: dataSU[3],
            support: dataSU[4],
            confidence: dataSU[5],
            lift: dataSU[6],
            leverage: dataSU[7],
            conviction: dataSU[8],
        } 
    })

    var dataCC = dataC.map(function(k) { 
        return {
            key: dataC[0],
            consequents: dataC[1],
            antecedentSupport: dataC[2],
            consequentSupport: dataC[3],
            support: dataC[4],
            confidence: dataC[5],
            lift: dataC[6],
            leverage: dataC[7],
            conviction: dataC[8],
        } 
    })

    var dataLII = dataLI.map(function(k) { 
        return {
            key: dataLI[0],
            consequents: dataLI[1],
            antecedentSupport: dataLI[2],
            consequentSupport: dataLI[3],
            support: dataLI[4],
            confidence: dataLI[5],
            lift: dataLI[6],
            leverage: dataLI[7],
            conviction: dataLI[8],
        } 
    })

    var dataLL = dataL.map(function(k) { 
        return {
            key: dataL[0],
            consequents: dataL[1],
            antecedentSupport: dataL[2],
            consequentSupport: dataL[3],
            support: dataL[4],
            confidence: dataL[5],
            lift: dataL[6],
            leverage: dataL[7],
            conviction: dataL[8],
        } 
    })

    var dataCOVV = dataCOV.map(function(k) { 
        return {
            key: dataCOV[0],
            consequents: dataCOV[1],
            antecedentSupport: dataCOV[2],
            consequentSupport: dataCOV[3],
            support: dataCOV[4],
            confidence: dataCOV[5],
            lift: dataCOV[6],
            leverage: dataCOV[7],
            conviction: dataCOV[8],
        } 
    })


var data = []
data.push(dataAA[0],dataASS[0],dataCONN[0],dataSUU[0],dataCC[0],dataLII[0],dataLL[0],dataCOVV[0])

console.log(data)

var table = d3.select("body").append("table")
    .attr("style", "margin-left: 50px; border: 2px"),
thead = table.append("thead"),
tbody = table.append("tbody");

// append the header row
thead.append("tr")
.selectAll("th")
.data(["antecedents", "consequents", "antecedent support", "consequent support", "support", "confidence", "lift", "leverage", "conviction"])
.enter()
.append("th")
    .text(function(d) { console.log(d);return d; });


// create a row for each object in the data
var rows = tbody.selectAll("tr")
.data(data)
.enter()
.append("tr");
///add the key in first td
rows.append("td")
.text(function(d) { ;return d.key; });
///add the value in second td
rows
.append("td")
.text(function(d) { ;return d.consequents; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.antecedentSupport; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.consequentSupport; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.support; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.confidence; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.lift; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.leverage; });
//
rows.append("td")
.append("input")
.attr('readonly', true)
.attr("name", "byName")
.attr("type", "text")
.attr("value",function(d) { return d.conviction; });


</script>

{% endblock %}
