{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="contaier">
  <div class="row">

    <!-- Line chart -->
    <div class="col-md-6">
      
      <div id='LineC'></div>
      <script>
      
        var wcss = {{dataWCSS|safe}}

        var trace1 = {
          x: [1,2,3,4,5,6,7,8,9,10],
          y: wcss,
          type: 'scatter'
        };

        var data = [trace1];

        var layout = {
          title:'Line Chart',
          xaxis:{zeroline:false, title: 'WCSS'},
          yaxis:{zeroline:false, title: 'K-value'}
        };

        var config = {responsive: true}

        Plotly.newPlot('LineC', data, layout, config);

      </script>
    </div>

    <!-- Scatter plot -->
    <div class="col-md-6">
      <div id='scatterP'></div>

      <script>

        var xp1SP = {{xp1|safe}}
        var xp2SP = {{xp2|safe}}
        var cSP = {{c|safe}}

        var trace1 = {
          x:xp1SP,
          y:xp2SP,
          mode: 'markers',
          marker: {
            size: 10,
            color: cSP
          }
        };
        
        var kmeansxSP = {{kmeansx|safe}}
        var kmeansySP = {{kmeansy|safe}}

        var trace2 = {
          x:kmeansxSP,
          y:kmeansySP,
          mode: 'markers',
          marker: {
            size: 10,
            color: 'black'
          }
        };

        var data = [trace1, trace2];
        
        var layout = {
          title: 'Clusters of cars',
          xaxis:{zeroline:false, title: 'MSRP'},
          yaxis:{zeroline:false, title: 'City mpg'}
        };

        var config = {responsive: true}
        
        Plotly.newPlot('scatterP', data, layout, config);
      </script>

      <br><br><br><br>









    
      <script type="text/javascript">
      
        var tmpdata = {{formatedData|safe}}
  
      
  
        // set the dimensions and margins of the graph
      var margin = {top: 10, right: 30, bottom: 30, left: 60},
            width = 460 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;
  
        // append the svg object to the body of the page
        var svg = d3.select("#graph")
                  .append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                  .append("g")
                  .attr("transform","translate(" + margin.left + "," + margin.top + ")");
  
      // create a new array that follows the format
      var data = tmpdata.values.map(function(d) {
          console.log("d0", d)
          return {
          values: parseFloat(d)
          };
      });
  
      console.log(data)
  
      //Add X axis
        var x = d3.scaleLinear()
                .domain([0,16])
                .range([0,width])
                svg.append("g")
                .attr("transform", "translate(0," + height +")")
                .call(d3.axisBottom(x))
  
        //Set the parameters for the histogram
        var histogram = d3.histogram()
                        .value(function(d){return  d.values;})
                        .domain(x.domain())
                        .thresholds(x.ticks(15)) //Number of bins
  
        //Applying this function to data to get the bins
        var bins = histogram(data)
        console.log("bins", bins)
  
        //Y axis: scale and draw: 
        var y = d3.scaleLinear()
                .range([height,0]);
                y.domain([0, d3.max(bins, function(d){ console.log(d.length); return d.length; })]);
                svg.append("g")
                    .call(d3.axisLeft(y));
        
        //append the bar rectangles to the svg element
        svg.selectAll("rect")
            .data(bins)
            .enter()
            .append("rect")
                .attr("x", 1)
                .attr("transform", function(d) { console.log("d.values.length", ["values"].length); return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
                .attr("width", function(d) { return x(d.x1) - x(d.x0) -1 ; })
                .attr("height", function(d) { return height - y(d.length); })
                .style("fill", "#69b3a2") 
        
      </script>-->
    </div>

  </div>
</div>

{% endblock %}

    