{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!--Plotly.js-->
    <script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>

    <!-- D3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>

    <title>First view</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #cf2a27;">
        <div class="container-fluid">
            
            <a class="navbar-brand text-white" href="#"><img src="{% static 'Logo.png' %}" alt="" class="img-fluid" style="width: 150px; height: 30px;"></a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link text-white"href="{% url 'index' %}">Scatter plot</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'histogram' %}">Histogram</a></li>
                </ul>
            </div>

        </div>
    </nav>

    {% block content %}

    {% endblock %}

    
    
    <footer class="fixed-bottom text-lg-start text-white" style="background-color: rgba(0, 0, 0);">
        <div class="container-fluid p-4">
            <div class="row">
              <div class="col-3 d-flex justify-content-start"><h5>&copy; 2021</h5></div>
              <div class="col-6 d-flex justify-content-center"><img src="{% static 'Logo.png' %}" alt="" class="img-fluid" style="width: 175px; height: 35px;"></div>
              <div class="col-3 d-flex justify-content-end"></div>
            </div>
          </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>