<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4B5769;">
    <div class="container-fluid">
      
      <img src="assets/img/pwm.svg">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="btn-sm btn-outline-secondary nav-item" (click)="clickEvent1()" [ngClass]="status ? 'btn' : ''"><a class="nav-link text-center text-white" routerLink="dataoverview">Data overview</a></li>
              <li class="btn-sm btn-outline-secondary nav-item" (click)="clickEvent2()" [ngClass]="status2 ? 'btn' : ''"><a class="nav-link text-center text-white" routerLink="patterndiscovery">Pattern discovery</a></li>
            </ul>
      </div>
    </div>
</nav>
