/*.navbar {
    padding-top: 0 !important;
}*

/*.nav-tabs {
    border: medium none;
    border-radius: 0;
}

.nav-tabs > li > a:hover {
    background-color: #536175 !important;
    border: medium none;
    border-radius: 0;
}*/

img {
    width: 160px;
}

.container-fluid {
  padding-right: var(--bs-gutter-x,1.25rem);
}

li {
    border-radius: unset;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: whitesmoke;
}