<mat-drawer-container class="all-container" autosize>

    <div class="mobile-responsive"> Working on this!, currently unavailable sorry :( </div>

    <mat-drawer #drawer class="sidenav" mode="side">

        <h4><strong>Tools</strong></h4>

        <mat-divider></mat-divider>

        <form [formGroup]="getDataForm" (ngSUbmit)="onSubmit(getDataForm.value)">

            <div>
                <!--<span>Tools</span>
                <br>-->
                <br>
                <span>Project:</span>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Select a project</mat-label>
                    <mat-select formControlName="project">
                        <!--(selectionChange)="select(getDataForm.value)"> -->
                        <mat-option *ngFor="let optionpr of optionsPr" [value]="optionpr.projects">{{ optionpr?.projects
                            }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!--<button id="infoPButton" mat-icon-button (click)="openDialog()" style="top: -9px;">
                    <mat-icon>info</mat-icon>
                </button>-->
            </div>

            <!--<mat-divider></mat-divider>-->

            <div>
                <!--<span>Advanced tools</span>-->
                <!--<br>
                <br>-->
                <span>Discover:</span>
                <br>
                <div style="display: inline-block; left: 2%;">
                    <mat-form-field appearance="fill">
                        <mat-label>Select a model</mat-label>
                        <mat-select formControlName="models">
                            <mat-option *ngFor="let option of optionsMd" [value]="option.models">{{ option?.models }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button id="infoPButton" mat-icon-button (click)="openModelDialog()" style="top: -9px;">
                        <mat-icon>info</mat-icon>
                    </button>
                </div>

            </div>

            <mat-divider></mat-divider>
            <br>
            <button type="button" mat-raised-button (click)='onSubmit(getDataForm.value)'>Show report</button>
            <!--[disabled]="isDisabled">Show example</button>-->

        </form>

    </mat-drawer>

    <div class="sidenav-content">

        <div id="open-sidenav">
            <button id="btnOpenPane" mat-icon-button (click)="drawer.toggle()" (click)="isOpndTools()">
                <div style="margin-top: 9.9%;">
                    <mat-icon *ngIf="!drawer.opened">
                        arrow_right
                    </mat-icon>
                    <mat-icon *ngIf="drawer.opened">
                        arrow_left
                    </mat-icon>
                </div>
            </button>
        </div>

        <mat-card id="card-welcome" *ngIf="isvisibleWelMCard" class="sidenav-cont-info">

            <div #divRem>
                Welcome to Data Mining!
                <button class="cancelButton" mat-icon-button (click)="closeWelcomM()">
                    <mat-icon>cancel</mat-icon>
                </button>
                <br> <strong>Pattern discovery</strong> is the space where you can see
                <br> the behaviour of your projects. <br><br>
                <ol>
                    <li>Open the panel and select a project</li>
                    <li>Select a model that will help you to <br> understanding what is happening
                    </li>
                    <li>Visualize your general report!</li>
                </ol>
                <br> Developed by PolyWorks M&eacute;xico
            </div>

        </mat-card>

        <mat-card id="report" *ngIf="isvisibleMCard" class="sidenav-cont-info">

            <button class="cancelWidgtGrButton" mat-icon-button (click)="closeReportWdgt()">
                <mat-icon>cancel</mat-icon>
            </button>

            <div class="container">
                <div class="headFoldChld">
                    <button  mat-button class="btnheadFoldChld" (click)="savePDF()">Download PDF</button>
                    <div>&nbsp;</div>
                    <button  mat-button class="btnheadFoldChld" (click)="copyToClipboard()">Share link</button>
                    <div>&nbsp;</div>
                    <button  mat-button id="expandAll" class="btnheadFoldChld" (click)="accordion.openAll()" >Expand all</button>
                    <div>&nbsp;</div>
                    <button mat-button id="closeAll" class="btnheadFoldChld" (click)="accordion.closeAll()" >Collapse all</button>
                </div>
            </div>

            <div #grafica class="container">

                <mat-accordion multi>

                    <!--plot clustering stuff-->
                    <div *ngIf="edited2">

                        <br>

                        <div #clusterPT>
                            <mat-expansion-panel class="contentExPan" [expanded]="true">

                                <mat-expansion-panel-header class="titleExPan">
    
                                    <h1 id="titleFormated"><strong>{{ prTitle }}</strong></h1>
    
                                </mat-expansion-panel-header>
    
                                <br>
                                <div class="tableGnrlInfo">
                                    <div>
                                        <img src="{{imagePath}}.png">
                                    </div>
                                    <br>
                                    <div #cotainerPrnt>
                                        <h1><strong>Production record</strong></h1>
    
                                        <p style="padding-left: 15px;"><strong>Variables:</strong> {{infoProject?.variables | number}} </p>
                                        <p style="padding-left: 15px;"><strong>Observations:</strong> {{infoProject?.observations | number}} </p>
                                        <!--No. Controles-->
                                        <p style="padding-left: 15px;"><strong>Data missing:</strong> {{infoProject?.missing | number}} </p>
                                        <p style="padding-left: 15px;"><strong>Percentage missing:</strong> {{infoProject?.percntMissing | number }}%</p>
                                        <p style="padding-left: 15px;"><strong>Initial date:</strong> {{startDProject}} </p>
                                        <p style="padding-left: 15px;"><strong>End date:</strong> {{endDProject}} </p>
                                    </div>
                                </div>
    
                            </mat-expansion-panel>
                        </div>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>Analysis</strong></h1>

                            </mat-expansion-panel-header>

                            <br>

                            <plotly-plot divId="graficaImprimir" [data]="graphScatter.data" [layout]="scatterlayout" [useResizeHandler]="true" [updateOnDataChange]="true"></plotly-plot>

                            <div #clusterTbl>
                                <mat-divider></mat-divider>
                                <br>
                                <br>
                                <h1><strong>Detailed information about the behaviors per group:</strong></h1>

                                <!--table information-->
                                <table mat-table [dataSource]="dataSource">

                                    <!-- Operator Column-->
                                    <ng-container matColumnDef="Operator">
                                        <th mat-header-cell *matHeaderCellDef> Operator </th>
                                        <td mat-cell *matCellDef="let element"> {{element?.operator}} </td>
                                    </ng-container>

                                    <!-- Hours Column -->
                                    <ng-container matColumnDef="Hours">
                                        <th mat-header-cell *matHeaderCellDef> Hours </th>
                                        <td mat-cell *matCellDef="let element"> {{element?.hours}} </td>
                                    </ng-container>

                                    <!-- Status Column -->
                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>

                                </mat-paginator>
                            </div>

                        </mat-expansion-panel>

                        <div #clusterPTT>
                            <mat-expansion-panel class="contentExPan" [expanded]="true">

                                <mat-expansion-panel-header class="titleExPan">
    
                                    <h1 id="titleFormated"><strong>Conclusion</strong></h1>
    
                                </mat-expansion-panel-header>
    
                                <br>
    
                                Text
    
                            </mat-expansion-panel>
                        </div>

                    </div>

                    <!--plot Time Series stuff-->
                    <div *ngIf="edited">

                        <br>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>{{ prTitle }}</strong></h1>

                            </mat-expansion-panel-header>

                            <div class="tableGnrlInfo">
                                <div>
                                    <img src="{{imagePath}}.png">
                                </div>
                                <br>
                                <div #cotainerPrnt>
                                    <h1><strong>Production record</strong></h1>

                                    <p style="padding-left: 15px;"><strong>Variables:</strong> {{infoProject?.variables | number}} </p>
                                    <p style="padding-left: 15px;"><strong>Observations:</strong> {{infoProject?.observations | number}} </p>
                                    <!--No. Controles-->
                                    <p style="padding-left: 15px;"><strong>Data missing:</strong> {{infoProject?.missing | number}} </p>
                                    <p style="padding-left: 15px;"><strong>Percentage missing:</strong> {{infoProject?.percntMissing | number }}%</p>
                                    <p style="padding-left: 15px;"><strong>Initial date:</strong> {{startDProject}} </p>
                                    <p style="padding-left: 15px;"><strong>End date:</strong> {{endDProject}} </p>
                                </div>
                            </div>

                        </mat-expansion-panel>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>Analysis</strong></h1>

                            </mat-expansion-panel-header>

                            <br>

                            <div class="col-12"><plotly-plot [data]="gphLinearTrd.data" [layout]="gphLinearTrd.layout" [useResizeHandler]="true"></plotly-plot></div>

                            <plotly-plot [data]="gphLinearSer.data" [layout]="gphLinearSer.layout" [useResizeHandler]="true"></plotly-plot>

                            <plotly-plot [data]="gphLinearSea.data" [layout]="gphLinearSea.layout" [useResizeHandler]="true"></plotly-plot>

                        </mat-expansion-panel>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>Observations</strong></h1>

                            </mat-expansion-panel-header>

                            <br>

                            {{ timeSeries?.nl_conclusion }}

                        </mat-expansion-panel>

                    </div>

                    <!--plot associaton rules stuff-->
                    <div *ngIf="edited3" class="center">

                        <br>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>{{ prTitle }}</strong></h1>

                            </mat-expansion-panel-header>

                            <br>
                            <div class="tableGnrlInfo">
                                <div>
                                    <img src="{{imagePath}}.png">
                                </div>
                                <br>
                                <div #cotainerPrnt>
                                    <h1><strong>Production record</strong></h1>

                                    <p style="padding-left: 15px;"><strong>Variables:</strong> {{infoProject?.variables | number}} </p>
                                    <p style="padding-left: 15px;"><strong>Observations:</strong> {{infoProject?.observations | number}} </p>
                                    <!--No. Controles-->
                                    <p style="padding-left: 15px;"><strong>Data missing:</strong> {{infoProject?.missing | number}} </p>
                                    <p style="padding-left: 15px;"><strong>Percentage missing:</strong> {{infoProject?.percntMissing | number }}%</p>
                                    <p style="padding-left: 15px;"><strong>Initial date:</strong> {{startDProject}} </p>
                                    <p style="padding-left: 15px;"><strong>End date:</strong> {{endDProject}} </p>
                                </div>
                            </div>

                        </mat-expansion-panel>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>Analysis</strong></h1>

                            </mat-expansion-panel-header>

                            <br>

                            <div class="row">

                                <div class="col-6">
                                    <plotly-plot [data]="graphHeatmap.data" [layout]="graphHeatmap.layout" [useResizeHandler]="true"></plotly-plot>
                                </div>

                                <div class="col-6">
                                    Grafica2
                                </div>

                            </div>

                            <mat-divider></mat-divider>
                            <br>
                            <br>
                            <mat-accordion>

                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                                    <mat-expansion-panel-header class="customHeaderExPan">

                                        <mat-panel-title>
                                            More Information
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>

                                    <!--table information-->
                                    <table mat-table [dataSource]="dataSource">

                                        <!-- Operator Column-->
                                        <ng-container matColumnDef="Operator">
                                            <th mat-header-cell *matHeaderCellDef> Operator </th>
                                            <td mat-cell *matCellDef="let element"> {{element?.operator}} </td>
                                        </ng-container>

                                        <!-- Hours Column-->
                                        <ng-container matColumnDef="Hours">
                                            <th mat-header-cell *matHeaderCellDef> Hours </th>
                                            <td mat-cell *matCellDef="let element"> {{element?.hours}} </td>
                                        </ng-container>

                                        <!-- Status Column-->
                                        <ng-container matColumnDef="Status">
                                            <th mat-header-cell *matHeaderCellDef> Status </th>
                                            <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>

                                    </mat-paginator>

                                </mat-expansion-panel>
                            </mat-accordion>

                        </mat-expansion-panel>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>Results</strong></h1>

                            </mat-expansion-panel-header>

                            <br>
                            Text

                        </mat-expansion-panel>

                        <mat-expansion-panel class="contentExPan" [expanded]="true">

                            <mat-expansion-panel-header class="titleExPan">

                                <h1 id="titleFormated"><strong>Observations</strong></h1>

                            </mat-expansion-panel-header>

                            <br>
                            Text

                        </mat-expansion-panel>

                    </div>

                </mat-accordion>

            </div>

        </mat-card>

    </div>

</mat-drawer-container>