<h1 mat-dialog-title><strong>Overview</strong></h1>
<div>
    <p><strong>Percentage missing</strong>: {{ data["% missing"] }}</p>
    <p><strong>Number of cells:</strong> {{ data.cells }} </p>
    <p><strong>Data missing:</strong> {{ data.missing }} </p>
    <!--<p>missing per atribute: {{ data["missing per atribute"] }} </p>-->
    <p><strong>Observations:</strong> {{ data.observations }} </p>
    <!--<p *ngFor="let data in data">sample data: {{ data["sample data"] }} </p>-->
    <p><strong>Variables:</strong> {{ data.variables }} </p>
</div>
