<h1><strong>Information about the discovery methods</strong></h1>
<div>
    <strong>Behaviors helps to: </strong>
    <ol>
        <li>Discover similarities between observations on your production record</li>
        <li>Determine new categories</li>
        <li>Provide new perspectives for further analysis</li>
    </ol>
    <br>
    <strong>Trends helps to: </strong>
    <ol>
        <li>Understand how time affects the observation of an event</li>
        <li>Build new hypotheses</li>
        <li>Discover trends, seasons on your production record</li>
        <li>Analysis of casualities between different events</li>
        <li>Predict future observations</li>
    </ol>
</div>
