<mat-drawer-container class="all-container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side">

        <h4>Tools</h4>

        <mat-divider></mat-divider>

        <br>
        
        <form [formGroup]="getDataForm" (ngSUbmit)="onSubmit(getDataForm.value)">

            <div>
                
                <span>Variables:</span>
                <br>

                <mat-form-field appearance="fill">
                    <mat-label>Select a variable</mat-label>
        
                    <mat-select formControlName="variable" (selectionChange)="select($event.value)">
                        <mat-option value="project">Project</mat-option>
                        <mat-option value="operator">Operator</mat-option>
                        <mat-option value="status">Status</mat-option>
                    </mat-select>

                </mat-form-field>

                <br>

                <div style="display: inline-block; left: 2%;" *ngIf="isVariableVisible == 1">
            
                    <span>Project:</span>
                    <br>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Select a project</mat-label>
            
                        <mat-select formControlName="project">
                            <mat-option *ngFor="let option of optionsP" [value]="option.prj_name">{{ option?.prj_name }}</mat-option>
                        </mat-select>
    
                    </mat-form-field>
                    
                </div>
                
                <div style="display: inline-block; left: 2%;" *ngIf="isVariableVisible == 2">
                    <span>Operator:</span>
                    <br>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Select an operator </mat-label>
            
                        <mat-select formControlName="operator">
                            <mat-option>Placeholder</mat-option>
                        </mat-select>
    
                    </mat-form-field>
                </div>
                
                <div style="display: inline-block; left: 2%;" *ngIf="isVariableVisible == 3">
                    <span>Status:</span>
                    <br>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Select a status</mat-label>
            
                        <mat-select formControlName="status">
                            <mat-option>Placeholder</mat-option>
                        </mat-select>
    
                    </mat-form-field>
                </div>

            </div>

            <mat-divider></mat-divider>

            <div>
                
                <br>

                <span>Period</span>
                <br>

                <mat-radio-group aria-label="example-radio-group-label" >
                    <div class="form-group">
                        <mat-radio-button value="1" [checked]="true" (change)="onItemChange(1)">Yearly</mat-radio-button>
                        <br>
                        <mat-radio-button value="2" [checked]="false" (change)="onItemChange(2)">Monthly</mat-radio-button>
                    </div>
                </mat-radio-group>

                <br>

                <div style="display: inline-block; left: 2%;" *ngIf="isVisible == 1">
                    
                    <mat-label>Year</mat-label>
                    <br>

                    
                    <mat-form-field appearance="fill">
            
                        <mat-label>Select an option</mat-label>
            
                        <mat-select formControlName="year">
                            <mat-option *ngFor="let option of years" [value]="option.value">{{ option?.year }}</mat-option>
                        </mat-select>
            
                    </mat-form-field>
            

                </div>

                <div style="display: inline-block; left: 2%;" *ngIf="isVisible == 2">
                    
                    <mat-label>From</mat-label>
                    <br>

                    
                    <mat-form-field appearance="fill">
            
                        <mat-label>Select an option</mat-label>
            
                        <mat-select formControlName="d_start">

                            <mat-option *ngFor="let option of months" [value]="option.value + '01'">{{ option?.month }}</mat-option>

                        </mat-select>
            
                    </mat-form-field>
                    <br>
            
                    <mat-label>To</mat-label>
                    <br>
        
                    
                    <mat-form-field appearance="fill">
            
                        <mat-label>Select an option</mat-label>
                        
                        <mat-select formControlName="d_end">

                            <mat-option *ngFor="let option of months" [value]="option.value + 31">{{ option?.month }}</mat-option>

                        </mat-select>
            
                    </mat-form-field>

                </div>



            </div>

            <mat-divider></mat-divider>
            <br>
            
            <button type="button" mat-raised-button (click)='onSubmit(getDataForm.value)' [disabled]="isDisabled">Show report</button>

        </form>
        
    </mat-drawer>

    <div class="sidenav-content">

        <div id="open-sidenav">
            <button id="btnOpenPane" mat-icon-button (click)="drawer.toggle()">
                <div style="margin-top: 9.9%;">
                    <mat-icon *ngIf="!drawer.opened">
                        arrow_right
                    </mat-icon>
                    <mat-icon *ngIf="drawer.opened">
                        arrow_left
                    </mat-icon>
                </div>
            </button>
        </div>

        <mat-card id="card-welcome" *ngIf="isvisibleWelMCard" class="sidenav-cont-info">

            <div #divRem>
                Welcome to Data Mining!
                
                <button class="cancelButton" mat-icon-button (click)="closeWelcomM()">
                    <mat-icon>cancel</mat-icon>
                </button>

                <br>
                <strong>Data overview</strong> is the space where you can see the
                <br>
                general status of your projects. 
                
                <br><br>

                <ol>
                    <li>Open the panel and select a project</li>
                    <li>Define the period of time</li>
                    <li>Visualize your general report!</li>
                </ol>

                <br> Developed by PolyWorks Mexico
            </div>
            
        </mat-card>

        <mat-card id="report" *ngIf="isvisibleMCard" class="sidenav-cont-info">

            <div class="center">

                <button class="cancelWidgtGrButton" mat-icon-button (click)="closeReportWdgt()">
                    <mat-icon>cancel</mat-icon>
                </button>

            </div>

            <div class="container" *ngIf="isVariableVisible == 1">

                <div class="headFoldChld">
                    <button  mat-button id="btnheadFoldChld" (click)="accordion.openAll()">Expand all</button>
                    <button mat-button id="btnheadFoldChld" (click)="accordion.closeAll()">Collapse all</button>
                </div>

                <mat-accordion multi>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong>{{projectName}} </strong></h1>
                        </mat-expansion-panel-header>

                        <mat-card class="sidenav-cont-info">
        
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <!--<h4> <strong>{{projectName}} </strong></h4>-->
                                </div>
        
                            </div>
        
                            <div class="row">
        
                                <div class="col-6 d-flex justify-content-center align-items-center">
        
                                    <img src="assets/img/{{projectName}}.png" style="width: 400px;">
        
        
                                </div>
        
                                <div class="col-6 d-flex justify-content-center align-items-center">
        
                                    <!--<div mat-dialog-content>
                                        <h1 mat-dialog-title>Production record</h1>
        
                                        variables: {{ dataOverview.variables }} <br>
                                        Number of records: {{ dataOverview.observations }} <br>
                                        cells: {{ dataOverview.cells }} <br>
                                        missing: {{ dataOverview.missing }} <br>
                                    </div>-->

                                    <div>
                                        <h1><strong>Production record</strong></h1>
                                        <p><strong>Variables:</strong> {{ dataOverview?.variables | number}} </p>
                                        <p><strong>Observations:</strong> {{ dataOverview?.observations | number}} </p>
                                        <p><strong>Data missing:</strong> {{ dataOverview?.missing | number}} </p>
                                        <p><strong>Percentage missing:</strong> {{ dataOverview?.missing | number}}%</p>
                                        <p><strong>Initial date:</strong> {{ startProjectDate }}</p>
                                        <p><strong>End date:</strong> {{ endProjectDate }}</p>
                                    </div>
                                </div>
        
                            </div>
        
                        </mat-card>


                    </mat-expansion-panel>
                    
                    <br>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong> Analysis by pieces</strong></h1>
                            <!--<mat-panel-title> Destination </mat-panel-title>
                            <mat-panel-description> Type the country name <mat-icon>map</mat-icon> </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        
                        <div class="row">
        
                            <div class="col-6">
                              <mat-card class="sidenav-cont-info">
                                <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
                              </mat-card>
                            </div>
        
                            <div class="col-6">
                                <mat-card class="sidenav-cont-info">
                                    <plotly-plot [data]="graph2.data" [layout]="graph2.layout" [config]="graph2.config"></plotly-plot>
                                    <!--
                                        
                                    <p>
                                        uniques: {{ operatorsData.uniques }} <br>
                                        % uniques: {{ operatorsData["% uniques"] }} <br>
                                        missing: {{ operatorsData.missing }} <br>
                                        % uniques: {{ operatorsData["% missing"] }} <br>
                                    </p>
        
                                    -->
                                </mat-card>
                            </div>
        
                        </div>
                        
                    </mat-expansion-panel>

                    <br>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong> Controls measured </strong></h1>
                            <!--<mat-panel-title> Title </mat-panel-title>
                            <mat-panel-description> Description <mat-icon>arrow_down</mat-icon> </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        
                        <div class="row">
        
                          <div class="col-12">
                            <mat-card class="sidenav-cont-info">

                                <plotly-plot [data]="graph3.data" [layout]="graph3.layout" [config]="graph3.config"></plotly-plot>

                                <br><br>

                                <mat-accordion>

                                    <mat-expansion-panel class="contentExPan" [expanded]="false">
                                        
                                        <mat-expansion-panel-header>

                                            <h4>Sample data</h4>
                                            <!--<mat-panel-title>Sample data</mat-panel-title>
                                            <mat-panel-description>Sample data</mat-panel-description>-->
                                        
                                        </mat-expansion-panel-header>
                                        
                                        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
                                            
                                            <ng-container matColumnDef="piece_id">
                                              <th mat-header-cell *matHeaderCellDef> piece_id </th>
                                              <td mat-cell *matCellDef="let element"> {{element.piece_id}} </td>
                                            </ng-container>
                                          
                                            
                                            <ng-container matColumnDef="PieceName">
                                              <th mat-header-cell *matHeaderCellDef> PieceName </th>
                                              <td mat-cell *matCellDef="let element"> {{element.PieceName}} </td>
                                            </ng-container>
                                          
                                            
                                            <ng-container matColumnDef="CreationDate">
                                              <th mat-header-cell *matHeaderCellDef> CreationDate </th>
                                              <td mat-cell *matCellDef="let element"> {{element.CreationDate}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Operator">
                                                <th mat-header-cell *matHeaderCellDef> Operator </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Operator}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="controlNb">
                                                <th mat-header-cell *matHeaderCellDef> controlNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.controlNb}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="measuredNb">
                                                <th mat-header-cell *matHeaderCellDef> measuredNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.measuredNb}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="failedNb">
                                                <th mat-header-cell *matHeaderCellDef> failedNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.failedNb}} </td>
                                            </ng-container>
                
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    
                                    </mat-expansion-panel>
                                
                                </mat-accordion>

                            </mat-card>
                          </div>
        
                        </div>
                        
                    </mat-expansion-panel>

                </mat-accordion>
                
                <!--
                <div class="row">

                  <div class="col-6">
                    <mat-card class="sidenav-cont-info">
                        <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
                    </mat-card>
                  </div>

                  <div class="col-6">
                    <mat-card class="sidenav-cont-info">
                        <plotly-plot [data]="graph2.data" [layout]="graph2.layout" [config]="graph2.config"></plotly-plot>
                        <p>
                            uniques: {{ operatorsData.uniques }} <br>
                            % uniques: {{ operatorsData["% uniques"] }} <br>
                            missing: {{ operatorsData.missing }} <br>
                            % uniques: {{ operatorsData["% missing"] }} <br>
                        </p>
                    </mat-card>
                  </div>

                </div>
                -->

            </div>

            <div class="container" *ngIf="isVariableVisible == 2">
                <div class="headFoldChld">
                    <button  mat-button id="btnheadFoldChld" (click)="accordion.openAll()">Expand all</button>
                    <button mat-button id="btnheadFoldChld" (click)="accordion.closeAll()">Collapse all</button>
                </div>

                <mat-accordion multi>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong>{{projectName}} </strong></h1>
                        </mat-expansion-panel-header>

                        <mat-card class="sidenav-cont-info">
        
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <!--<h4> <strong>{{projectName}} </strong></h4>-->
                                </div>
        
                            </div>
        
                            <div class="row">
        
                                <div class="col-6 d-flex justify-content-center align-items-center">
        
                                    <img src="assets/img/{{projectName}}.png" style="width: 400px;">
        
        
                                </div>
        
                                <div class="col-6 d-flex justify-content-center align-items-center">
        
                                    <!--<div mat-dialog-content>
                                        <h1 mat-dialog-title>Production record</h1>
        
                                        variables: {{ dataOverview.variables }} <br>
                                        Number of records: {{ dataOverview.observations }} <br>
                                        cells: {{ dataOverview.cells }} <br>
                                        missing: {{ dataOverview.missing }} <br>
                                    </div>-->

                                    <div>
                                        <h1><strong>Production record</strong></h1>
                                        <p><strong>Variables:</strong> {{ dataOverview?.variables | number}} </p>
                                        <p><strong>Observations:</strong> {{ dataOverview?.observations | number}} </p>
                                        <p><strong>Data missing:</strong> {{ dataOverview?.missing | number}} </p>
                                        <p><strong>Percentage missing:</strong> {{ dataOverview?.missing | number}}%</p>
                                        <p><strong>Initial date:</strong> {{ startProjectDate }}</p>
                                        <p><strong>End date:</strong> {{ endProjectDate }}</p>
                                    </div>
                                </div>
        
                            </div>
        
                        </mat-card>


                    </mat-expansion-panel>
                    
                    <br>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong> Analysis by pieces</strong></h1>
                            <!--<mat-panel-title> Destination </mat-panel-title>
                            <mat-panel-description> Type the country name <mat-icon>map</mat-icon> </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        
                        <div class="row">
        
                            <div class="col-6">
                              <mat-card class="sidenav-cont-info">
                                <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
                              </mat-card>
                            </div>
        
                            <div class="col-6">
                                <mat-card class="sidenav-cont-info">
                                    <plotly-plot [data]="graph2.data" [layout]="graph2.layout" [config]="graph2.config"></plotly-plot>
                                    <!--
                                        
                                    <p>
                                        uniques: {{ operatorsData.uniques }} <br>
                                        % uniques: {{ operatorsData["% uniques"] }} <br>
                                        missing: {{ operatorsData.missing }} <br>
                                        % uniques: {{ operatorsData["% missing"] }} <br>
                                    </p>
        
                                    -->
                                </mat-card>
                            </div>
        
                        </div>
                        
                    </mat-expansion-panel>

                    <br>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong> Controls measured </strong></h1>
                            <!--<mat-panel-title> Title </mat-panel-title>
                            <mat-panel-description> Description <mat-icon>arrow_down</mat-icon> </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        
                        <div class="row">
        
                          <div class="col-12">
                            <mat-card class="sidenav-cont-info">

                                <plotly-plot [data]="graph3.data" [layout]="graph3.layout" [config]="graph3.config"></plotly-plot>

                                <br><br>

                                <mat-accordion>

                                    <mat-expansion-panel class="contentExPan" [expanded]="false">
                                        
                                        <mat-expansion-panel-header>

                                            <h4>Sample data</h4>
                                            <!--<mat-panel-title>Sample data</mat-panel-title>
                                            <mat-panel-description>Sample data</mat-panel-description>-->
                                        
                                        </mat-expansion-panel-header>
                                        
                                        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
                                            
                                            <ng-container matColumnDef="piece_id">
                                              <th mat-header-cell *matHeaderCellDef> piece_id </th>
                                              <td mat-cell *matCellDef="let element"> {{element.piece_id}} </td>
                                            </ng-container>
                                          
                                            
                                            <ng-container matColumnDef="PieceName">
                                              <th mat-header-cell *matHeaderCellDef> PieceName </th>
                                              <td mat-cell *matCellDef="let element"> {{element.PieceName}} </td>
                                            </ng-container>
                                          
                                            
                                            <ng-container matColumnDef="CreationDate">
                                              <th mat-header-cell *matHeaderCellDef> CreationDate </th>
                                              <td mat-cell *matCellDef="let element"> {{element.CreationDate}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Operator">
                                                <th mat-header-cell *matHeaderCellDef> Operator </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Operator}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="controlNb">
                                                <th mat-header-cell *matHeaderCellDef> controlNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.controlNb}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="measuredNb">
                                                <th mat-header-cell *matHeaderCellDef> measuredNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.measuredNb}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="failedNb">
                                                <th mat-header-cell *matHeaderCellDef> failedNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.failedNb}} </td>
                                            </ng-container>
                
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    
                                    </mat-expansion-panel>
                                
                                </mat-accordion>

                            </mat-card>
                          </div>
        
                        </div>
                        
                    </mat-expansion-panel>

                </mat-accordion>

            </div>

            <div class="container" *ngIf="isVariableVisible == 3">

                <div class="headFoldChld">
                    <button  mat-button id="btnheadFoldChld" (click)="accordion.openAll()">Expand all</button>
                    <button mat-button id="btnheadFoldChld" (click)="accordion.closeAll()">Collapse all</button>
                </div>

                <mat-accordion multi>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong>{{projectName}} </strong></h1>
                        </mat-expansion-panel-header>

                        <mat-card class="sidenav-cont-info">
        
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <!--<h4> <strong>{{projectName}} </strong></h4>-->
                                </div>
        
                            </div>
        
                            <div class="row">
        
                                <div class="col-6 d-flex justify-content-center align-items-center">
        
                                    <img src="assets/img/{{projectName}}.png" style="width: 400px;">
        
        
                                </div>
        
                                <div class="col-6 d-flex justify-content-center align-items-center">
        
                                    <!--<div mat-dialog-content>
                                        <h1 mat-dialog-title>Production record</h1>
        
                                        variables: {{ dataOverview.variables }} <br>
                                        Number of records: {{ dataOverview.observations }} <br>
                                        cells: {{ dataOverview.cells }} <br>
                                        missing: {{ dataOverview.missing }} <br>
                                    </div>-->

                                    <div>
                                        <h1><strong>Production record</strong></h1>
                                        <p><strong>Variables:</strong> {{ dataOverview?.variables | number}} </p>
                                        <p><strong>Observations:</strong> {{ dataOverview?.observations | number}} </p>
                                        <p><strong>Data missing:</strong> {{ dataOverview?.missing | number}} </p>
                                        <p><strong>Percentage missing:</strong> {{ dataOverview?.missing | number}}%</p>
                                        <p><strong>Initial date:</strong> {{ startProjectDate }}</p>
                                        <p><strong>End date:</strong> {{ endProjectDate }}</p>
                                    </div>
                                </div>
        
                            </div>
        
                        </mat-card>


                    </mat-expansion-panel>
                    
                    <br>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong> Analysis by pieces</strong></h1>
                            <!--<mat-panel-title> Destination </mat-panel-title>
                            <mat-panel-description> Type the country name <mat-icon>map</mat-icon> </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        
                        <div class="row">
        
                            <div class="col-6">
                              <mat-card class="sidenav-cont-info">
                                <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
                              </mat-card>
                            </div>
        
                            <div class="col-6">
                                <mat-card class="sidenav-cont-info">
                                    <plotly-plot [data]="graph2.data" [layout]="graph2.layout" [config]="graph2.config"></plotly-plot>
                                    <!--
                                        
                                    <p>
                                        uniques: {{ operatorsData.uniques }} <br>
                                        % uniques: {{ operatorsData["% uniques"] }} <br>
                                        missing: {{ operatorsData.missing }} <br>
                                        % uniques: {{ operatorsData["% missing"] }} <br>
                                    </p>
        
                                    -->
                                </mat-card>
                            </div>
        
                        </div>
                        
                    </mat-expansion-panel>

                    <br>
                    
                    <mat-expansion-panel class="contentExPan" [expanded]="true">
                        <mat-expansion-panel-header>
                            <h1 id="titleFormated"><strong> Controls measured </strong></h1>
                            <!--<mat-panel-title> Title </mat-panel-title>
                            <mat-panel-description> Description <mat-icon>arrow_down</mat-icon> </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        
                        <div class="row">
        
                          <div class="col-12">
                            <mat-card class="sidenav-cont-info">

                                <plotly-plot [data]="graph3.data" [layout]="graph3.layout" [config]="graph3.config"></plotly-plot>

                                <br><br>

                                <mat-accordion>

                                    <mat-expansion-panel class="contentExPan" [expanded]="false">
                                        
                                        <mat-expansion-panel-header>

                                            <h4>Sample data</h4>
                                            <!--<mat-panel-title>Sample data</mat-panel-title>
                                            <mat-panel-description>Sample data</mat-panel-description>-->
                                        
                                        </mat-expansion-panel-header>
                                        
                                        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
                                            
                                            <ng-container matColumnDef="piece_id">
                                              <th mat-header-cell *matHeaderCellDef> piece_id </th>
                                              <td mat-cell *matCellDef="let element"> {{element.piece_id}} </td>
                                            </ng-container>
                                          
                                            
                                            <ng-container matColumnDef="PieceName">
                                              <th mat-header-cell *matHeaderCellDef> PieceName </th>
                                              <td mat-cell *matCellDef="let element"> {{element.PieceName}} </td>
                                            </ng-container>
                                          
                                            
                                            <ng-container matColumnDef="CreationDate">
                                              <th mat-header-cell *matHeaderCellDef> CreationDate </th>
                                              <td mat-cell *matCellDef="let element"> {{element.CreationDate}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="Operator">
                                                <th mat-header-cell *matHeaderCellDef> Operator </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Operator}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="controlNb">
                                                <th mat-header-cell *matHeaderCellDef> controlNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.controlNb}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="measuredNb">
                                                <th mat-header-cell *matHeaderCellDef> measuredNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.measuredNb}} </td>
                                            </ng-container>
                
                                            <ng-container matColumnDef="failedNb">
                                                <th mat-header-cell *matHeaderCellDef> failedNb </th>
                                                <td mat-cell *matCellDef="let element"> {{element.failedNb}} </td>
                                            </ng-container>
                
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    
                                    </mat-expansion-panel>
                                
                                </mat-accordion>

                            </mat-card>
                          </div>
        
                        </div>
                        
                    </mat-expansion-panel>

                </mat-accordion>

            </div>

        </mat-card>

    </div>

</mat-drawer-container>