<h1 mat-dialog-title>Overview</h1>
<div mat-dialog-content>

    variables: {{ data.variables }} <br>
    observations: {{ data.observations }} <br>
    cells: {{ data.cells }} <br>
    missing: {{ data.missing }} <br>
</div>